.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-column-gap: 50px;
}

.left-column {
    grid-column: 2/3;
}

.right-column {
    grid-column: 3/4;
    justify-self: center;
}

